.chart {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  padding: 18px 32px;
  border-radius: 32px;
  background-color: #fff;

  grid-area: chart;

  &__head-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__heading {
    color: #2d4258;
    text-align: left;
    letter-spacing: -0.56px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: 2.2;
  }

  &__intervals {
    display: flex;
    margin-top: -1px;
    list-style: none;
  }

  &__interval {
    position: relative;
    border: none;
    background: none;
    color: #d2d1d1;
    letter-spacing: 0.44px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.3s ease;
    &-item {
      padding-right: 12px;

      &:last-child {
        padding-right: 0;
      }
    }

    &_active {
      color: #323f47;
      &:before {
        position: absolute;
        right: 0;
        bottom: -9px;
        left: 0;
        height: 4px;
        background-color: #54d3c2;
        content: "";
      }
    }
  }

  &__body {
    margin-top: 24px;
    width: 782px;
    height: 254px;
  }

  &__bottom {
    margin-top: 24px;
  }

  &__labels {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    background-size: cover;
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 9px;
    }

    &-icon {
      width: 28px;
      height: 28px;

      &_revenue {
        background: url("revenue.svg") center no-repeat;
      }

      &_costs {
        background: url("costs.svg") center no-repeat;
      }

      &_profit {
        background: url("profit.svg") center no-repeat;
      }

      &_indebtedness {
        background: url("indebtedness.svg") center no-repeat;
      }

      &_total {
        background: url("total.svg") center no-repeat;
      }
    }

    &-title {
      color: #6d7986;
      text-align: left;
      letter-spacing: -0.56px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      font-size: 14px;
      line-height: 1.29;
    }

    &-amount {
      color: #323f47;
      text-align: left;
      letter-spacing: normal;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
