@use "../../variables" as *;
@use "../../mixins" as *;

.task-list-page {
  @include page-body;

  &__title {
    @include page-heading;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__content {
    height: 100%;
  }
}
