@use "../../_variables" as *;

.task-list-page {
  height: 100vh;
  background-color: $color-white;
  border-radius: 56px 0 0 0;
  padding: 39px;

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__content {
    height: 100%;
  }
}
