@use "../../_variables" as *;

.summary-report {
  display: grid;
  padding: 28px 40px 40px 39px;
  border-radius: 56px 56px 0 0;
  background-color: $color-background;
  column-gap: 39px;

  grid-template-columns: repeat(3, 264px) 1fr;
  grid-template-rows: 63px 168px 1fr;
  grid-template-areas:
    "heading heading heading heading"
    "total b2b b2c problems"
    "chart chart chart problems";
  grid-area: summary-report;
}

.heading {
  color: $color-text-primary;
  text-align: left;
  letter-spacing: -0.56px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-size: 28px;
  line-height: 1.57;

  grid-area: heading;
}
