@use "../_variables" as *;

.mailbox-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-background;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 16px;
    height: 64px;
    border-bottom: 1px solid $color-border;
    background-color: $color-white;
  }

  &__mails {
    flex: 1;
    margin-right: 16px;
  }
}
