@use "../../variables" as *;
@use "../../mixins" as *;

.mailbox-page {
  @include page-body;

  &__title {
    @include page-heading;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
